pkgbase = sayit-ermano-bin
	pkgdesc = Local voice dictation with AI polish (community Linux port of FluidVoice)
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/acailic/SayItErmano
	arch = x86_64
	license = GPL-3.0-or-later
	depends = python
	depends = pipewire-audio-utils
	depends = xdotool
	depends = xclip
	depends = libnotify
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = zstd
	optdepends = pulseaudio-utils: legacy PulseAudio recording fallback
	provides = sayit-ermano
	provides = fluidvoice-linux
	conflicts = sayit-ermano
	conflicts = fluidvoice-linux
	replaces = fluidvoice-linux
	noextract = sayit-ermano-bin_0.8.0.deb
	source_x86_64 = sayit-ermano-bin_0.8.0.deb::https://github.com/acailic/SayItErmano/releases/download/v0.8.0/sayit-ermano_0.8.0-1_amd64.deb
	sha256sums_x86_64 = f819a09e0789a44c04928bb01d18e78f6f96801ca93b499d3f6d409ea7c6d1d7

	pkgname = sayit-ermano-bin
